body{ vertical-align: auto;
    background-color: white;
margin-left:auto; 
margin-right:auto;
width:100%;
}

button { 

    background-color: yellow;


}
#graytag {

    background-color:lightgrey;
}

h10 {

   color:blue; 

}
#center-container{
    display: flex;
    justify-content: center;
}